html,
body {
  height: 100%;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.lt-layout {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  background-color: #fff;
  margin: 0 auto;
  padding: 45px 0 50px 0;
}
.lt-layout .lt-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
  background-color: #069;
  padding: 0 45px;
}
.lt-layout .lt-header h4 {
  text-align: center;
  line-height: 44px;
  margin: 0;
  color: snow;
  font-weight: normal;
  font-size: 20px;
}
.lt-layout .lt-header a {
  position: absolute;
  left: 0;
  top: 0;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  font-weight: 700;
  color: white;
}
.lt-layout .lt-header .search {
  left: auto;
  right: 0;
}
.lt-layout .lt-main {
  position: relative;
  width: 100%;
  height: 100%;
}
.lt-layout .lt-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #069;
}
.lt-layout .lt-footer ul li {
  padding-top: 5px;
  float: left;
  width: 25%;
  text-align: center;
}
.lt-layout .lt-footer ul li a {
  color: white;
}
.lt-layout .lt-footer ul li a span {
  display: block;
}
.lt-layout .lt-footer ul li a span:nth-child(2) {
  font-size: 14px;
}
.lt-layout .lt-footer ul .current a {
  color: orange;
}
